.container {
  width: 95%;
  max-width: 350px;
  height: 4rem;

  margin: 0 auto 2.8rem auto;

  border-radius: 6px;
  background: var(--light-gray);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease-in-out;
}

.container h2 {
  font-size: 1.2rem;
}

.container:hover {
  background-color: transparent;
  border: 2px solid var(--light-gray);
}

