.container {
  width: 100%;
  height: 4rem;

  margin-bottom: 2.8rem;

  border-radius: 6px;
  background: var(--light-gray);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease-in-out;
}

.container h2 {
  font-size: 1.2rem;
}

.container:hover {
  background-color: transparent;
  border: 2px solid var(--light-gray);
}

